/*
especificidade
empate
style
!important ****
*/

body#b.bclass p#p.p{
    background: purple !important;
}
#p {
    background: red;
}

#p.p {
    background: yellow;
}
p{
    background: blue !important;
}